<ion-header>
  <ion-navbar>
    <ion-title>Transactions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item *ngFor="let cash of restCall.cashinhand" > 
      <p item-start>{{cash.EmpName}}</p> 
      <p item-end class="green" [ngClass]="{'green':cash.CASHINHAND > 0,'red':cash.CASHINHAND < 0}"><span>&#8377;</span> {{cash.CASHINHAND}}</p> 
    </ion-item>
  </ion-card> 
  <ion-item class="outstand">
    <p item-start> Advances</p>
    <p item-end *ngIf="empAdv"> <span>&#8377;</span> {{empAdv}}</p>
    <p item-end *ngIf="!empAdv"> <span>&#8377;</span> 0 </p>
  </ion-item>
  <span *ngIf="restCall">
<div>
  <div class="filters" style="padding-top:15px;">
    <ion-item>
      <ion-label>Transaction Type</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="transType" name="transType" (ionChange)="LoadTransactions()">
        <ion-option value="All">All</ion-option>
        <ion-option value="Credit">Credits</ion-option>
        <ion-option value="Transfer">Debits</ion-option>
        <ion-option value="Debit">Vouchers</ion-option>
        <ion-option value="Salary">Salary</ion-option>
        <ion-option value="Advances">Advances</ion-option>
      </ion-select>
    </ion-item>
    <div class="dateFilter" *ngIf="!adv">
      <ion-item class="search_date"> 
        <ion-label>Search by Year</ion-label>
        <ion-select (ionChange)="SearchByYear()" class="" placeholder="Search by Year" [(ngModel)]="selectedYear" name="selectedYear" style="padding: 5px 3px;">
          <ion-option value="All">All</ion-option>
          <ion-option *ngFor="let year of restCall.FYears " value="{{year.FINANCIALYEAR}}">{{year.FINANCIALYEAR}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="Search_Month"> 
        <ion-label>Search by Month</ion-label>
        <ion-select (ionChange)="SearchByMonth()" class="" placeholder="Search by Month" [(ngModel)]="selectedMonth" name="selectedMonth" style="padding: 5px 3px;">
          <ion-option value="All">All</ion-option>
          <ion-option *ngFor="let month of selMonths" value="{{month}}">{{month}}</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <span *ngIf="!adv"> 
<span *ngIf="restCall.loadEmpAllTransactions.length != 0">
  <ion-item *ngIf="restCall.loadEmpAllTransactions[0].TOTALAMOUNT != 0">
    <div item-start>  
      <p class="">Total</p>
    </div> 
    <div item-end>  
      <p class="TotalAmount"><span>&#8377;</span> {{restCall.loadEmpAllTransactions[0].TOTALAMOUNT}}</p>
    </div>
  </ion-item>
</span>
    <div class="vcardholder" *ngFor = "let item of restCall.loadEmpAllTransactions, let x = index">
      <p class="transtype {{item.TRANSACTIONTYPE}}">{{item.TRANSACTIONTYPE}}</p> 
        <ion-card class="card-details tcard" (click)="VoucherDetails(x)" [ngClass]="{'verified':item.TRANSACTIONTYPE == 'Voucher' && item.FPATH == 'Y','updated':(item.TRANSACTIONTYPE == 'Voucher' && item.FPATH == 'U'&& item.AMOUNT != 0),'deleted':item.TRANSACTIONTYPE == 'Voucher' && item.AMOUNT == 0}"> 
          <ion-card-content>
            <ion-item >
              <div item-end>  
                <p *ngIf = "item.AMOUNT != 0" class="amount{{item.TRANSACTIONTYPE}}"><span>&#8377;</span> {{item.AMOUNT}}</p> 
                <p *ngIf = "item.TRANSACTIONTYPE == 'Voucher' && item.AMOUNT == 0" class="amount{{item.TRANSACTIONTYPE}}"><span>&#8377;</span> {{item.ORIGINALAMOUNT}}</p> 
              </div>
              <div item-start>  
                  <p *ngIf = "item.DATE">{{item.DATE.substring(0, 10)}}</p>
              </div>
            </ion-item> 
            <div *ngIf="item.TRANSACTIONTYPE == 'Voucher'">{{item.REMARKS}}</div>
            <div *ngIf="item.TRANSACTIONTYPE == 'Advance Repayment'">Sent to - {{item.SENDER}} {{item.EMPNAME}}</div>
            <div *ngIf="item.SENDER != '' && item.TRANSACTIONTYPE != 'Advance Repayment' && item.TRANSACTIONTYPE != 'Transfer'">Sender - {{item.SENDER}} {{item.EMPNAME}}</div>
            <div *ngIf="item.SENDER != '' && item.TRANSACTIONTYPE != 'Advance Repayment' && item.TRANSACTIONTYPE == 'Transfer'">Sent to - {{item.SENDER}} {{item.EMPNAME}}</div>
            <div *ngIf="(item.TRANSACTIONTYPE == 'Advance Repayment' || item.TRANSACTIONTYPE == 'Transfer' || item.TRANSACTIONTYPE == 'Credit') && item.REMARKS.includes(' __ ')">{{item.REMARKS.split(' __ ').pop()}}</div>
          </ion-card-content>
          <span class="moredetails" *ngIf="item.TRANSACTIONTYPE == 'Voucher'">
            <img class="vimg" *ngIf="item.FNAME && item.FNAME != ''" src="http://app.dbasesolutions.in/Image/{{item.FNAME}}" alt="">
          </span>
        </ion-card> 
    </div>
  </span>
<span *ngIf="adv"> 

<!-- <ion-item class="outstand">
  <p item-start> Outstanding</p>
  <p item-end *ngIf="restCall.transactions.length != 0"> <span>&#8377;</span> {{restCall.transactions[0].OUTSTANDING}}</p>
  <p item-end *ngIf="restCall.transactions.length == 0"> 0</p>
</ion-item> -->

    <ion-card class="card-details">
      <ion-card-content style="padding: 0">
        <table style="width: 100%">
            <tr>
              <th text-center>Date</th>
              <th text-center>Advance</th>
              <th text-center class="repaymentLink" (click)="AdvanceRepayment()">Repayment</th>
            </tr>
            <tr *ngFor = "let item of restCall.transactions">
              <td text-center><span *ngIf = "item.DATE" >{{item.DATE.substring(0, 10)}}</span></td>
              <td text-center ><span *ngIf = "item.ADVANCE" class="credit">{{item.ADVANCE}}</span></td>
              <td text-center><span *ngIf = "item.REPAYMENT" class="debit">{{item.REPAYMENT}}</span></td>
            </tr>
        </table>
      </ion-card-content>
    </ion-card>
  </span>
</div>

 
  </span>
</ion-content>
