<ion-header>
  <ion-navbar> 
    <ion-title>Leave Details</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            Employee Code
            <span item-end>{{EmpCode}}</span>
          </ion-item>
        <ion-item>
            Employee Name
          <span item-end>{{EmpName}}
          </span> 
        </ion-item>
        <ion-item>
          Leave Type
        <span item-end>{{LType}}
        </span>
      </ion-item>
        <ion-item>
            Leave From
          <span item-end>{{LFrom}}
          </span>
        </ion-item>
        <ion-item>
            Leave To
          <span item-end>{{Lto}}
          </span>
        </ion-item>
        <ion-item>
          Remarks
          <span item-end>{{Remarks}}</span>
        </ion-item>
        <ion-item>
          L_status
          <span item-end>{{L_status}}</span>
        </ion-item>
      </ion-list>

      <button *ngIf = "(currentuser.UserType == 'MANAGER' || currentuser.UserType == 'TEAMLEADER') && (L_status == 'Pending' || (L_status == 'Rejected by '+restCall.currentuser.Designation))" ion-button color="secondary" outline (click)="respondToLeave('Accepted by '+restCall.currentuser.Designation)">Accept</button>
      <button *ngIf = "(currentuser.UserType == 'MANAGER' || currentuser.UserType == 'TEAMLEADER') && (L_status == 'Pending' || (L_status == 'Accepted by '+restCall.currentuser.Designation))" ion-button color="secondary" outline (click)="respondToLeave('Rejected by '+restCall.currentuser.Designation)">Reject</button>
      
      <button *ngIf = "currentuser.UserType == 'ADMIN' && (L_status != 'Accepted')" ion-button color="secondary" outline (click)="respondToLeave('Accepted')">Grant</button>
      <button *ngIf = "currentuser.UserType == 'ADMIN' && (L_status != 'Rejected')" ion-button color="danger" outline (click)="respondToLeave('Rejected')" style="float:right">Reject</button> 
</ion-content>
