<!-- <ion-header>
  <ion-navbar>
    <ion-title>DBase Solution</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="footer-bg"> 
  <div style="text-align: center">
    <img src="../../assets/imgs/dbaselogo.png" alt=""> 
    <br> 
    <br> 
    <img src="../../assets/imgs/DBSHead.png" alt="" width="70%">  
  </div>

  <!-- <div>
    <ion-list>
      <ion-item>
        <ion-label>Select University</ion-label>
        <ion-select [(ngModel)]="selectedUniversity" required (ionChange)="LoadScanUsers()">
          <ion-option *ngFor="let x of universities" [value]="x.UNIVERSITYNAME">{{x.UNIVERSITYNAME}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Select Course Type</ion-label>
        <ion-select [(ngModel)]="selectedCourseType" required (ionChange)="SelectCourseType()">
          <ion-option  value="UG">UG</ion-option>
          <ion-option  value="PG">PG</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div> -->
    <ion-list>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="number" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
  
  <button ion-button block (click)="login()" >sign in</button>
  <!-- <br> -->

<!-- 
  <ion-list>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="barcodeusername"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="barcodepassword"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="BarcodeAdminLogin()" >sign in</button>
  <br>
  <br>
  <ion-list>
    <ion-item>
      <ion-label>Select User</ion-label>
      <ion-select [(ngModel)]="user" (ionChange)="SelectCourseType()">
        <ion-option *ngFor="let x of scanusers" [value]="x.ScanUser">{{x.ScanUser}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button block color="dark" (click)="BarcodeScan()" >Barcode Scanner</button> -->
</ion-content>
