page-login {
    .footer-bg{
        background: url('../../assets/imgs/footer_wave1.png'),#fff;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .scroll-content {
        padding-top: 110px !important;
    }
}
