<ion-header>
  <ion-navbar>
    <ion-title>Employee Transactions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let cash of restCall.cashinhand">
    <ion-card *ngIf="cash.CASHINHAND != 0" (click)="EmployeeTransById(cash.EMPID)">
      <ion-item [ngClass]="{'negative': cash.CASHINHAND < 0, 'positive': cash.CASHINHAND > 0}">
        <p item-start class="CihCard">{{cash.EMPID}} - {{cash.EmpName}}</p> 
        <p item-end  [ngClass]="{'green':cash.CASHINHAND > 0,'red':cash.CASHINHAND < 0}"><span>&#8377;</span> {{cash.CASHINHAND}}</p> 
      </ion-item> 
    </ion-card> 
  </div>
</ion-content>
