<ion-header>
  <ion-navbar>
    <div class="logo-wrapper">
      <img src="../../assets/imgs/dbaselogo.png" alt="" class="logo">
      <div class="shape2"></div>
    </div>
    <ion-buttons end>
      <button ion-button icon-only (click)="dropdown($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="shape">
    <ion-grid style="position: absolute;
    top: -20px;
    left: 18%;">
      <ion-row>
        <ion-col col-10>
          <ion-card
            style="border-radius: 10px; background: none;overflow: visible; box-shadow: none; padding-top:5px;height: auto; ">
            <ion-card-content class="dp-card">
              <ion-card-title>
                {{currentuser.EmpCode}}-{{currentuser.EmpName}}
              </ion-card-title>
              <p> {{currentuser.Designation}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <ion-grid>
    <div *ngIf="currentuser.UserType != 'ADMIN'">
      <ion-row class="home-buttons">
        <ion-col col-6 text-center>
          <ion-card style="border-radius: 10px;" class="shadow" (click)="GoToMyProfile()">
            <img src="../../assets/imgs/user.svg" alt="">
            <ion-card-content>
              <ion-card-title>
                My Profile
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 text-center (click)="TimeReport()" *ngIf = "currentuser.IsChekin_Enable">
          <ion-card style="border-radius: 10px;" class="shadow check-in">
            <span *ngIf="restCall.employeeReportingsByDate">
              <span *ngFor="let item of restCall.employeeReportingsByDate">
                <p *ngIf="item.Report_Staus == 'Pending' || item.Report_Staus == 'Approved'"
                  [ngClass]="{'red':item.Report_Staus == 'Pending', 'green':item.Report_Staus == 'Approved'}"
                  (click)="EmployeeAllCheckins()"> {{item.Time}}</p>
              </span>
              <p class="blue" *ngIf="restCall.employeeReportingsByDate.length == 0"> {{time}}</p>
            </span>
            <ion-card-content>
              <ion-card-title>
                Check-In
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 text-center>
          <ion-card style="border-radius: 10px;" (click)="employeeTimings()" class="shadow">
            <img src="../../assets/imgs/EmpTimings.svg" alt="">
            <ion-card-content>
              <ion-card-title>
                Timings
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 text-center>
          <ion-card class="shadow" style="border-radius: 10px;" (click)="workStatus()">
            <img src="../../assets/imgs/workReport.svg" alt="">
            <ion-card-content>
              <ion-card-title>
                Work Report
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 text-center>
          <ion-card class="shadow" style="border-radius: 10px;" (click)="applyLeave()">
            <img src="../../assets/imgs/ApplyLeave.svg" alt="">
            <ion-card-content>
              <ion-card-title>
                Apply Leave
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6 text-center *ngIf="currentuser.UserType == 'TEAMLEADER' || currentuser.UserType == 'MANAGER'">
          <ion-card style="border-radius: 10px;" (click)="MyTeam()" class="shadow">
            <img src="../../assets/imgs/team.svg" alt="">
            <ion-card-content>
              <ion-card-title>
                My Team
              </ion-card-title>
            </ion-card-content>
          </ion-card>
          <span *ngIf="restCall.notifications">
            <span *ngIf="restCall.notifications[0].Status != 0 || restCall.notifications[1].Status != 0">
              <p class="notifications">{{restCall.notifications[0].Status + restCall.notifications[1].Status}}</p>
            </span>
          </span>
        </ion-col>
        <ion-col col-6 text-center>
          <ion-card style="border-radius: 10px;" (click)="GoToVouchers()" class="shadow">
            <img src="../../assets/imgs/Vouchers.svg" alt="Vouchers">
            <ion-card-content>
              <ion-card-title>
                Vouchers
              </ion-card-title>
            </ion-card-content>
          </ion-card>
          <span *ngIf="creditcounts != 0">
            <p class="notifications credit">+Rs.{{creditcounts}}/-</p>
          </span>
        </ion-col>
        <ion-col col-6 text-center>
          <ion-card style="border-radius: 10px;" class="shadow" (click)="Tasks()">
            <img src="../../assets/imgs/tasks.svg" alt="tasks">
            <ion-card-content>
              <ion-card-title>
                Tasks
              </ion-card-title>
            </ion-card-content>
          </ion-card>
          <span *ngIf="restCall.notifications">
            <span *ngIf="restCall.notifications[3].Status != 0">
              <p class="notifications">{{restCall.notifications[3].Status}}</p>
            </span>
          </span>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <ion-row *ngIf="currentuser.UserType == 'ADMIN'" class="home-buttons">
    <ion-col col-6 text-center>
      <ion-card style="border-radius: 10px;" (click)="employeeList()" class="shadow">
        <img src="../../assets/imgs/UserList.svg" alt="">
        <ion-card-content>
          <ion-card-title>
            Employee List
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-6 text-center>
      <ion-card style="border-radius: 10px;" (click)="employeeReportings()" class="shadow">
        <img src="../../assets/imgs/TimeReport.svg" alt="">
        <ion-card-content>
          <ion-card-title>
            Check-Ins
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      <span *ngIf="restCall.notifications">
        <span *ngIf="restCall.notifications[2].Status != 0">
          <p class="notifications">{{restCall.notifications[2].Status}}</p>
        </span>
      </span>
    </ion-col>
    <ion-col col-6 text-center>
      <ion-card style="border-radius: 10px;" (click)="employeeTimings()" class="shadow">
        <img src="../../assets/imgs/EmpTimings.svg" alt="">
        <ion-card-content>
          <ion-card-title>
            Timings
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-6 text-center>
      <ion-card style="border-radius: 10px;" (click)="leaveRequests()" class="shadow">
        <img src="../../assets/imgs/LeavesList.svg" alt="">
        <ion-card-content>
          <ion-card-title>
            Requests
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      <span *ngIf="restCall.notifications">
        <span *ngIf="restCall.notifications[1].Status != 0">
          <p class="notifications">{{restCall.notifications[1].Status}}</p>
        </span>
      </span>
    </ion-col>
    <ion-col col-6 text-center>
      <ion-card style="border-radius: 10px;" (click)="GoToVouchers()" class="shadow">
        <img src="../../assets/imgs/Vouchers.svg" alt="Vouchers">
        <ion-card-content>
          <ion-card-title>
            Transactions
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      <span *ngIf="creditcounts != 0">
        <p class="notifications credit">+Rs{{creditcounts}}/-</p>
      </span>
    </ion-col>
    <ion-col col-6 text-center *ngIf="currentuser.UserType == 'ADMIN'">
      <ion-card style="border-radius: 10px;" class="shadow" (click)="GoToWorkReports()">
        <img src="../../assets/imgs/TeamReport.svg" alt="Bills">
        <ion-card-content>
          <ion-card-title>
            Work Reports
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      <span *ngIf="restCall.notifications">
        <span *ngIf="restCall.notifications[0].Status != 0">
          <p class="notifications">{{restCall.notifications[0].Status}}</p>
        </span>
      </span>
    </ion-col>
    <ion-col col-6 text-center *ngIf="currentuser.UserType == 'ADMIN'">
      <ion-card style="border-radius: 10px;" class="shadow" (click)="GoToBills()">
        <img src="../../assets/imgs/bills.svg" alt="Bills">
        <ion-card-content>
          <ion-card-title>
            Invoices
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col col-6 text-center *ngIf="currentuser.UserType == 'ADMIN'">
      <ion-card style="border-radius: 10px;" class="shadow" (click)="Tasks()">
        <img src="../../assets/imgs/tasks.svg" alt="tasks">
        <ion-card-content>
          <ion-card-title>
            Tasks
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      <span *ngIf="restCall.notifications">
        <span *ngIf="restCall.notifications[3].Status != 0">
          <p class="notifications">{{restCall.notifications[3].Status}}</p>
        </span>
      </span>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title text-center>Copyright &#169; 2020, D Base Solutions</ion-title>
  </ion-toolbar>
</ion-footer>