timechart {
    .monthreports{
        padding-top: 16px;
        .intimee{
            .timeclr{
                color: rgba(0, 143, 19, 0.75);
            }
        }
        .latee{
            .timeclr{
                color: rgba(255, 0, 0, 0.658);
            }
        }
        .notimee{
            .timeclr{
                color: #36a2eb;
            }
        }
    }
    .chartcard{
        box-shadow: 0px 0px 3px 0 rgba(182, 182, 182, 0.4), 0px 2px 5px 0 rgba(0, 0, 0, 0.12);
        padding: 5px;
        border-radius: 6px;
        padding-bottom: 25px;
    }
    .chartcard.active{
        border: 1px solid #f29860;
        box-shadow: 0 0 8px #f2986078;
    }
    .customchart{
        position: relative;
        width: 100%;
        margin-bottom:25px;
        .mainbar{
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            border: 1px solid #555;
            height: 25px;
        }
        .totcheckinbar{
            top: 0;
            left: 0;
            position: absolute; 
            background: rgba(255, 0, 0, 0.9);
            height: 25px;
        }
        .intimebar{
            top: 0;
            left: 0;
            position: absolute; 
            background: rgb(76, 195, 92); 
            // background: rgb(255, 151, 189); 
            height: 25px;
        }
        .notimebar{
            top: 0;
            left: 0;
            position: absolute; 
            background: #1d74b9; 
            height: 6px;
        }
        .scale,.scale1,.scale2,.scale3{
            position: relative;
            text-align: center;
            display: inline-block;
            top: 30px;
            width: 30%;
        }
        .scale1{
            color: rgba(255, 0, 0, 0.658);
        }
        .scale2{
            // color: #ff6384;
            color: rgba(0, 143, 19, 0.75);
        }
        .scale3{
            color: #36a2eb;
        }
    }
}
