<ion-header>
  <ion-navbar>
    <ion-title>Announcements</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<form>
  <ion-item>
    <ion-textarea placeholder="Message*" [(ngModel)]="announcementText" name="announcementText"></ion-textarea>
  </ion-item>
  <ion-item class="activeCheck"> 
    <ion-label>Active</ion-label>
    <ion-checkbox color="primary" name="CreateisActive" [(ngModel)]="CreateisActive" checked="false"></ion-checkbox>
  </ion-item>
  <ion-item class="activeCheck"> 
    <ion-label>All</ion-label>
    <ion-checkbox color="primary" (ionChange)="CreateAll($event)" [(ngModel)]="createIsAll" name="createIsAll" checked="true"></ion-checkbox>
  </ion-item> 
  <span *ngIf="CreateshowEmplist">
    <ion-item class="activeCheck" *ngFor="let employee of empListWithMaxTransferAmount, let i = index"> 
      <ion-label>{{employee.EMPID}} {{employee.EmpName}}</ion-label>
      <ion-checkbox color="primary" (ionChange)="CreateAddEmptoShowList($event,employee.EMPID)" checked="false"></ion-checkbox>
    </ion-item>
  </span>
  <!-- <ion-item>
    <ion-select placeholder="Show to*" [(ngModel)]="EmpIds" name="EmpIds" multiple="true" required> 
      <ion-option value="All">All</ion-option>
      <span *ngFor="let employee of empListWithMaxTransferAmount, let i = index">
        <ion-option *ngIf="employee.EMPID != '1501'" value="{{employee.EMPID}}">{{employee.EMPID}} {{employee.EmpName}}</ion-option>
      </span>
    </ion-select>
  </ion-item> -->
  
  <button ion-button type="submit" (click)="CreateAnnouncement()" block>Create</button>
</form>

 
<div>
  <ion-card style="border-radius: 10px;" class="shadow announcements allanc" #cc *ngFor= "let item of allAnnouncements,let i = index" (click)="ToggleAccrd(item,i)"> 
    <ion-card-content style="padding-bottom: 0;">
      <div style="display: flex;align-items: center;justify-content: center;">
        <p style="width: 87%;display: inline-block;text-align: justify;">{{item.Message}}</p>
        <p style="width: 10%; text-align: right;"> 
          <ion-checkbox *ngIf="item.IsActive == 'false'" color="primary" (ionChange)="UpdateAnnouncement(item)" checked="false"></ion-checkbox>
          <ion-checkbox *ngIf="item.IsActive == 'true'" color="primary" (ionChange)="UpdateAnnouncement(item)" checked="true"></ion-checkbox>
        </p>
      </div>
    </ion-card-content>
    <div class="EditFrm">
      <ion-item>
        <ion-textarea placeholder="Message*" [(ngModel)]="msg" name="msg"></ion-textarea>
      </ion-item>
      <!-- <ion-item>
        <ion-select placeholder="Show to*" [(ngModel)]="emps" name="emps" multiple="true" required (ionChange)="All()"> 
          <ion-option value="All" (click)="NotAll($event)">All</ion-option>
          <span *ngFor="let employee of empListWithMaxTransferAmount, let i = index">
            <ion-option *ngIf="employee.EMPID != '1501'" value="{{employee.EMPID}}">{{employee.EMPID}} {{employee.EmpName}}</ion-option>
          </span>
        </ion-select>
      </ion-item> -->
      <ion-item class="activeCheck"> 
        <ion-label>All</ion-label>
        <ion-checkbox *ngIf="isAll" color="primary" (ionChange)="All($event)" [(ngModel)]="isAll" name="isAll" checked="true"></ion-checkbox>
        <ion-checkbox *ngIf="!isAll" color="primary" (ionChange)="All($event)" [(ngModel)]="isAll" name="isAll" checked="false"></ion-checkbox>
      </ion-item> 
      <span *ngIf="showEmplist">
        <ion-item class="activeCheck" *ngFor="let employee of empListWithMaxTransferAmount, let i = index"> 
          <ion-label>{{employee.EMPID}} {{employee.EmpName}}</ion-label>
          <ion-checkbox color="primary" (ionChange)="AddEmptoShowList($event,employee.EMPID)" [checked]="emps.includes(employee.EMPID)"></ion-checkbox>
        </ion-item>
      </span>
      <button ion-button (click)="UpdtMsg(item,x)" block>Update</button>
    </div>
  </ion-card>  
</div>
</ion-content>
