page-workstatus {
    ion-select {
        max-width: 100%;
        width: 100%;
    }
    .selDay .select-text{
        text-align: center;
    }
    ion-card-content h2{
       // font-weight: 500!important;
       font-size: 1.5rem!important;
    }
    h5{
        font-size: 1.6rem; 
    }
    .service_type{
        position: absolute;
        top: -2px;
        left: -20px;
        height: 100%;
        background: #3a6484;
        z-index: 2;
        color: white;
        padding: 5px;
        text-align: center;
        font-size: 1.2rem!important;
        writing-mode: vertical-rl;
         box-shadow: 4px 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .onsite{
        background: #5ab65d;
    }
    .inhouse{
        background: #488dc2;
    }
    ion-card{
        overflow: visible;
        position: relative;
    }
    .filters{
        border-radius: 15px;
        box-shadow: 2px 2px 5px 0 #d5faff, 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .dateFilter{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .employeeSelect{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-left: 0;
        border-bottom: 1px solid #b9b9b9;
    }
    .search_date,.search_day {
        display: inline-block;
        width: 79%;
        padding: 0;
    }
    .search_date{
        border-bottom-left-radius: 15px;
    }
    .search_day{
        float: right;
        width: 20%;
        border-left: 1px solid #b9b9b9;
        border-bottom-right-radius: 15px;
    }
    .item-inner{
        border-bottom: none!important;
    }
    .approved{
        background-color: #cbffda;
    } 
    .rejected{
        background-color: #ffdcd9;
    }
}
