page-workstatus {
    .tlrating{
        display: inline-block;
        padding: 0 5px;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        background: #ffcd34;
        border-radius: 15px;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
    }
    .rr{
        font-size: 1rem;
        display: inline-block;
    }
    .remarkForm{
        max-height: 0px;
        transition: all 0.3s ease ;
    }
    .open .remarkForm{
        max-height: 1600px;
        border: 1px solid #fd8265;
        box-shadow: 0px -2px 5px rgba(254, 173, 106, 0.5);
    }
    .rating{
        color: #d7d7d7;
        font-size: 2rem;
        display: inline-block;
        .rated{
            color: #ffcd34;
            filter: drop-shadow(2px 0px 2px rgba(0,0,0,0.3)) brightness(1.1);
        }
    }
    .ionic-selectable {
        max-width: 100%;
    }
    .ReportHead{
        height: 2.5rem;
        min-height: 2.7rem;
        background: rgba(96, 167, 221, 0.35);
        color: #0f0f0f;
        padding-top: 5px;
        padding: 4px 10px;
        margin: 0 10px 0 -6px;
        text-align: center;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
    }
   
    ion-select {
        max-width: 100%;
        width: 100%;
    }
    .selDay .select-text{
        text-align: center;
    }
    ion-card-content h2{
       // font-weight: 500!important;
       font-size: 1.5rem!important;
    }
    h5{
        font-size: 1.6rem; 
    }
    .service_type{
        position: absolute;
        top: -2px;
        left: -20px;
        transform: rotate(180deg);
        height: 100%;
        background: #3a6484;
        z-index: 2;
        color: white;
        padding: 5px;
        text-align: center;
        font-size: 1.2rem!important;
        writing-mode: vertical-rl;
         box-shadow: 4px 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .onsite{
        background: #5ab65d;
    }
    .inhouse{
        background: #488dc2;
    }
    ion-card{
        overflow: visible;
        position: relative;
        ion-card-content{
            padding-bottom: 2px!important;
         }
    }
    .filters{
        border-radius: 15px;
        box-shadow: 2px 2px 5px 0 #d5faff, 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .dateFilter{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .employeeSelect{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-left: 0;
        border-bottom: 1px solid #b9b9b9;
    }
    .search_date,.search_day {
        display: inline-block;
        width: 79%;
        padding: 0;
    }
    .search_date{
        border-bottom-left-radius: 15px;
    }
    .search_day{
        float: right;
        width: 20%;
        border-left: 1px solid #b9b9b9;
        border-bottom-right-radius: 15px;
    }
    .item-inner{
        border-bottom: none!important;
    }
    .approved{
        background-color: #cbffda;
    } 
    .rejected{
        background-color: #ffdcd9;
    }
    .Wrkbtn{
        position: absolute;
        right: 0;
        font-size: 1.2rem;
        padding: 0;
        border-radius: 18px;
        height: 2.3rem;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    }
    .approve{
        top: 0;
    }
    .reject{
        bottom: 0;
    }
    [icon-only] ion-icon{
        padding: 0 4px;
    }
}
