<ion-header>
  <ion-navbar>
    <ion-title>Barcode Scanner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <button style="margin-top: 500px" ion-button (click)="Addbar()">Stop Scan</button> -->
  <table style="width: 100%; margin-top: 380px">
    <tr>
      <th text-center>USERID</th> 
      <th text-center>BARCODE</th>
      <th text-center>DATETIME</th>
    </tr>
    <tr *ngFor = "let item of barcode">
      <td text-center><span *ngIf = "item.USERID" >{{item.USERID}}</span></td>
      <td text-center ><span *ngIf = "item.BARCODE">{{item.BARCODE}}</span></td>
      <td text-center><span *ngIf = "item.DATETIME">{{item.DATETIME.substring(0, 10)}}</span></td>
    </tr>
  </table>
</ion-content>
