page-barcodescanner {
    able, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
        text-align: left;    
      }
      .user-course{
        margin-top: 320px;border-radius: 5px;
        [item-start] p{
          background: #d4eaff;
          padding: 5px;
          border-radius: 5px;
        }
        [item-end] p{
          background: #d4ffd7;
          padding: 5px;
          border-radius: 5px;
        }
        .item-inner{
          border-bottom: none!important;
        }
      }
}
