<ion-header>
  <ion-navbar>
    <ion-title>Barcode Scanner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <button style="margin-top: 350px" ion-button (click)="Addbar()">Stop Scan</button> -->
  <ion-item class="" style="margin-top: 320px">
    <p item-start>Today Scan Count</p>
    <p item-end *ngIf="scanCount"> <span></span> {{scanCount}}</p>
    <p item-end *ngIf="!scanCount"> <span></span> 0 </p>
  </ion-item>
  <table style="width: 100%;">
    <tr>
      <th text-center>USERID</th> 
      <th text-center>BARCODE</th>
      <th text-center>DATETIME</th>
    </tr>
    <tr *ngFor = "let item of barcode">
      <td text-center><span *ngIf = "item.USERID" >{{item.USERID}}</span></td>
      <td text-center ><span *ngIf = "item.BARCODE">{{item.BARCODE}}</span></td>
      <td text-center><span *ngIf = "item.DATETIME">{{item.DATETIME.substring(0, 10)}}</span></td>
    </tr>
  </table>
</ion-content>
