<ion-header>
  <ion-navbar>
    <ion-buttons left margin-horizontal>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Team Work Reports</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngFor = "let item of restCall.submittedWorks; let i = index">
        <span *ngIf="item.length != 0">
          <div *ngFor = "let wrk of item; let x = index">
            <ion-item *ngIf="x == 0" text-center style="height: 2.5rem;min-height: 2.5rem;" class="EmpHead"> 
              <div item-start>
                <h5>{{wrk.StaffId}} 
                  <span *ngIf="restCall.employeeList">
                    <span *ngFor="let name of restCall.employeeList">
                      <span *ngIf="wrk.StaffId == name.EmpCode">{{name.EmpName}}</span>
                    </span>
                  </span>
                </h5> 
              </div>
              <div item-end>
                <h5 *ngIf="item.length != 0">{{item[item.length-1].ReportingDate.substring(11, 19)}}</h5>
              </div>
              <!-- <div item-end>
                <button ion-button outline color="secondary" (click)="ApproveWorkStatus(item)">Approve</button>
              </div> -->
            </ion-item>
            <ion-card class="rateCard id{{wrk.WorkId}}" [ngClass]="{'approved': wrk.WStatus == 'Approved', 'rejected': wrk.WStatus == 'Rejected'}" style="margin-top: 0;">
              <ion-card-content>
                <h2>Client: {{wrk.Client_Project}}</h2> 
                <h2>Project: {{wrk.Project_Name}}</h2> 
                <h2 class="service_type" [ngClass]="{'inhouse': wrk.Service_Type == 'In-House','onsite': wrk.Service_Type == 'On-Site'}">{{wrk.Service_Type}}</h2>
                <h2>Description: {{wrk.WDescription}}</h2> 
                <!-- <h2>Work Date: {{wrk.WDate.substring(0,10)}}</h2>  -->
                <!-- <button ion-button icon-only color="secondary" class="Wrkbtn approve" (click)="ApproveWorkStatus(wrk)" *ngIf="wrk.WStatus != 'Approved'"><ion-icon name="checkmark"></ion-icon></button>
                <button ion-button icon-only color="danger" (click)="RejectWorkStatus(wrk)" class="Wrkbtn reject" *ngIf="wrk.WStatus != 'Rejected'"><ion-icon name="close"></ion-icon></button> -->
                <div class="rating">
                  <ion-icon name="star" class="star one" [ngClass]="{'rated':wrk.TLRating >= 1 }" (click)="rate($event,0,wrk,i)"></ion-icon>
                  <ion-icon name="star" class="star two" [ngClass]="{'rated':wrk.TLRating >= 2 }" (click)="rate($event,1,wrk,i)"></ion-icon>
                  <ion-icon name="star" class="star three" [ngClass]="{'rated':wrk.TLRating >= 3 }" (click)="rate($event,2,wrk,i)"></ion-icon>
                  <ion-icon name="star" class="star four" [ngClass]="{'rated':wrk.TLRating >= 4 }" (click)="rate($event,3,wrk,i)"></ion-icon>
                  <ion-icon name="star" class="star five" [ngClass]="{'rated':wrk.TLRating >= 5 }" (click)="rate($event,4,wrk,i)"></ion-icon>
                </div>
                <ion-item class="rrselect" *ngIf="restCall.currentuser.UserType=='TEAMLEADER' || restCall.currentuser.UserType=='MANAGER'">
                  <ion-select placeholder="Remarks" multiple="true" (ionChange)="Comments($event,i,wrk,wrk.WorkId)">
                    <ion-option value="Took too long">Took too long</ion-option>
                    <ion-option value="Failed in Testing">Failed in Testing</ion-option>
                    <ion-option value="Task Incomplete">Task Incomplete</ion-option>
                    <ion-option value="Involved Too Many">Involved Too Many</ion-option>
                    <ion-option value="Others">Others</ion-option>
                  </ion-select>
                </ion-item>
              </ion-card-content> 
              <div class="remarkForm">
                <ion-item>
                  <ion-textarea placeholder="Other remarks" [(ngModel)]="msg" name="msg" (input)="adjustTextarea($event);"></ion-textarea>
                </ion-item>
                <button ion-button (click)="Submit(wrk,i)" block>Update</button> 
              </div>
            </ion-card>
          </div>
        </span>
    </div>
    <div *ngIf = "restCall.submittedWorks">
      <p *ngIf = "restCall.submittedWorks.length == 0" class="no-data"> No Works to Show </p>
    </div>
</ion-content>
