// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bar-button-default-ios {
    color: #2d2d2d;
    background-color: transparent;
}
.alert-ios .alert-radio-label{
    text-align: center;
}
.toolbar-background{
    background: linear-gradient(220deg, #ffd86f, #fc6262);
    background-color: white;
    border-width: 0!important;
}
.toolbar-title{ 
    color: white;
}
ion-footer{
    .toolbar-title-ios{
        transform: translateY(50%);
        font-size: 1.3rem;
        overflow: visible;
    }
}

.peach-gradient {
    background: linear-gradient(40deg,#ffd86f,#fc6262) !important;
}
.searchhead{
    font-size: 1.8rem;
}
.alert-title{
    color: rgb(240, 30, 30);
} 
.red{
    color: rgb(240, 30, 30)!important;
}
.green{
    color: rgb(28, 199, 71)!important;
}
.dropdown-popover .popover-content{
    width: 48%;
    border-radius: 8px;
}
.announcement-popover .popover-content{
    //box-shadow: none;
    overflow: hidden;
    background: rgba(0,0,0,0);
    width: 260px;
}
.popover-ios .popover-content,.popover-md .popover-content{
    width: 240px;
}
// ion-content.content{ 
//     background-color: lightyellow;
// }
.transfer-options-select{
.select-popover{
    .item:nth-child(1){
        .label {
            &:before{
                content: url(../assets/imgs/cash.svg);
                vertical-align: middle;
            }
        }
    }
    .item:nth-child(2){
        .label {
            &:before{
                content: url(../assets/imgs/phonepe.svg);
                vertical-align: middle;
            }
        }
    }
    .item:nth-child(3){
        .label {
            &:before{
                content: url(../assets/imgs/paytm.svg);
                vertical-align: middle;
            }
        }
    }
    .item:nth-child(4){
        .label {
            &:before{
                content: url(../assets/imgs/gpay.svg);
                vertical-align: middle;
            }
        }
    }
    .item:nth-child(5){
        .label {
            &:before{
                content: url(../assets/imgs/Banktransfer.svg);
                vertical-align: middle;
            }
        }
    }
}
}

.NotificationPop{
    ion-backdrop{
        opacity: 0.7!important;
    }
    .alert-wrapper {
        border-radius: 10px;
        background-color: #202020;
        box-shadow: -1px -2px 20px rgba(242, 152, 96, 0.1);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .alert-title {
        color: #df8c58;
        font-size: 18px!important;
    }
    .alert-message{
        color: white!important;
        padding: 15px!important;
        padding-bottom: 30px!important;
        padding-left: 25px!important;
    }
    .alert-head{
        padding: 10px 10px 12px!important;
        text-align: center!important;
        background: #252424!important;
    }
    .alert-button{
        color: #202020;
        background-color: #f29860;
        margin: 0 8px 0 0;
        padding: 3px 20px;
    }
    .alert-button-group{
        justify-content: space-between;
    }
    
}