<!--
  Generated template for the EmpCheckInsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>My Check-Ins</ion-title>
  </ion-navbar> 
</ion-header>

<ion-content padding>  
    <ion-item>
      <ion-label>Search by Date</ion-label>
      <ion-datetime (ionChange)="TimeByDate()" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="selectedDay" name="selectedDay"></ion-datetime>
    </ion-item>
    <div *ngIf = "restCall.employeeReportingsByDate">
    <ion-card class="card-details"[ngClass]="{'approve-border': item.Report_Staus == 'Approved', 'rejected-border': item.Report_Staus == 'Rejected','pending-border': item.Report_Staus == 'Pending','recheckin-border': item.Report_Staus == 'Recheckin'}" *ngFor = "let item of restCall.employeeReportingsByDate">
        <ion-item [ngClass]="{'approve': item.Report_Staus == 'Approved', 'rejected': item.Report_Staus == 'Rejected','pending': item.Report_Staus == 'Pending','recheckin': item.Report_Staus == 'Recheckin'}"> 
          <h2 text-center class="card-point">{{item.Date.substring(0,10)}}</h2>
          <div item-start text-center>  
            <p *ngIf = "item.Time">{{item.Time}}</p> 
          </div>
          <div item-end text-center *ngIf = "item.Report_Staus == 'Approved'">  
            <button ion-button color="secondary" clear>Approved</button>
          </div>
          <div item-end text-center *ngIf = "item.Report_Staus == 'Recheckin'">  
            <button ion-button color="warning" clear>Rechecked-in</button>
          </div>
          <div item-end text-center *ngIf = "item.Report_Staus == 'Rejected'">  
            <button ion-button color="danger" (click)="Recheckin(item)" clear>Rejected</button>  
          </div>
          <div item-end text-center *ngIf = "item.Report_Staus == 'Pending'">  
            <button ion-button color="warning" clear>Pending</button>
          </div>
        </ion-item> 
      </ion-card>
    </div>
      <div *ngIf = "restCall.employeeAllReportingsByDate">
        <p *ngIf = "restCall.employeeAllReportingsByDate.length == 0" class="no-data"> No Data to Show </p>
      </div>
</ion-content>
