page-employeelist {
    .EmpList.item-md ion-icon[item-start] + .item-inner{
        margin-left: 0;
    }
    .EmpList.item-md{
        padding-left: 0;
    }
    ion-list{
        .label-ios {
            font-size: 1.45rem;
        }
    }
}
