<ion-header>
  <ion-navbar>
    <ion-buttons left margin-horizontal>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Day Wise Reportings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="filters" style="margin-bottom: 14px;">
    <ion-item class="employeeSelect" *ngIf="restCall.currentuser.UserType=='ADMIN'">
      <ion-select placeholder="Employee" [(ngModel)]="empCode" name="empCode" (ionChange)="SearchByEmpCode()">
        <ion-option value="All">All Employees</ion-option>
        <span *ngFor="let employee of restCall.employeeList">
          <ion-option *ngIf="employee.EmpCode != '1501'" value="{{employee.EmpCode}}">{{employee.EmpCode}}
            {{employee.EmpName}}</ion-option>         
        </span>
      </ion-select>
    </ion-item>
    <div class="dateFilter" *ngIf="restCall.loadCheckinDates">
      <span *ngIf="restCall.loadCheckinDates.length != 0">
      <ion-item class="search_date"> 
        <ion-datetime (ionChange)="SearchByYearandMonth()" displayFormat="MMM YYYY" pickerFormat="MMM YYYY"
          [(ngModel)]="selectedDate" name="selectedDate" min="{{mindate}}" max="{{maxdate}}" placeholder="Search by month"></ion-datetime> 
      </ion-item>
      <ion-item class="search_day">
        <ion-select (ionChange)="SearchByDay()" placeholder="Day" [(ngModel)]="selDay" name="selDay" style="padding: 5px 3px;">
          <ion-option value='0' *ngIf="empCode != 'All'">All</ion-option>
          <span *ngIf="empCode == 'All'">
            <ion-option *ngFor="let day of days" value="{{day}}">{{day}}</ion-option>
          </span>
        </ion-select>
      </ion-item>
    </span>
    </div>
  </div>

  
<!-- <h2 class="searchhead">{{searchHead}} Check-ins</h2> -->
<span *ngIf="empCode == 'All'">
  <span *ngIf = "checkinReports">
    <span *ngFor = "let item of checkinReports;let i = index">
      <span *ngIf="i==0 && item.Date">
        <h5 class="checkin-date" >{{item.Date.substring(0,10)}}</h5>
      </span>
      <span *ngIf="i != 0">
        <h5 class="checkin-date" *ngIf="checkinReports[i-1].Date != checkinReports[i].Date">{{item.Date.substring(0,10)}}</h5>
      </span>
      <span *ngIf="item.Report_Staus == 'Recheckin'">
        <ion-card class="card-details checkin-card recheckin-border" style="margin-bottom: 5px;" (click)="UpdateStatus(item)">
          <ion-item class="heightItem"> 
            <h2 class="service_type">{{item.Emp_Id}}</h2>
            <div item-start text-center>  
              <h2 class="card-point" style="padding-left: 15px;">{{item.Emp_Name}}</h2>
            </div>
            <p *ngIf = "item.Time" text-right>{{item.Time}}</p> 
          </ion-item> 
        </ion-card>
      </span>
      <span *ngIf="item.Report_Staus == 'Pending'">
        <ion-card class="card-details checkin-card pending-border" style="margin-bottom: 5px;" (click)="UpdateStatus(item)">
          <ion-item  class="heightItem pending"> 
            <h2 class="service_type">{{item.Emp_Id}}</h2>
            <div item-start text-center>  
              <h2 class="card-point" style="padding-left: 15px;">{{item.Emp_Name}}</h2>
            </div>
            <p *ngIf = "item.Time" text-right>{{item.Time}}</p> 
          </ion-item> 
        </ion-card>
      </span> 
      <span *ngIf="item.Report_Staus == 'Approved' || item.Report_Staus == 'Rejected'">
        <ion-card class="card-details checkin-card" style="margin-bottom: 5px;" [ngClass]="{'approve-border': item.Report_Staus == 'Approved', 'rejected-border': item.Report_Staus == 'Rejected'}" (click)="UpdateStatus(item)">
          <ion-item class="heightItem" [ngClass]="{'approve': item.Report_Staus == 'Approved', 'rejected': item.Report_Staus == 'Rejected'}"> 
            <h2 class="service_type">{{item.Emp_Id}}</h2>
            <div item-start text-center>  
              <h2 class="card-point" style="padding-left: 15px;">{{item.Emp_Name}}</h2>
            </div>
            <p *ngIf = "item.Time" text-right>{{item.Time}}</p> 
          </ion-item> 
        </ion-card>
      </span>
    </span>
  </span>
</span>
<span *ngIf="empCode != 'All'">
  <span *ngIf = "checkinReports">
    <span *ngFor = "let item of checkinReports;let i = index">
      <ion-card class="card-details checkin-card" [ngClass]="{'recheckin':item.Report_Staus == 'Recheckin','pending':item.Report_Staus == 'Pending','rejected': item.Report_Staus == 'Rejected','approved': item.Report_Staus == 'Approved'}" style="margin-bottom: 5px;" (click)="UpdateStatus(item)">
        <ion-item class="heightItem"> 
          <h2 class="service_type">{{item.Emp_Id}}</h2>
          <div item-start text-center>  
            <h2 class="card-point" style="padding-left: 26px;">{{item.Date.substring(0,10)}}</h2>
          </div>
          <p *ngIf = "item.Time" text-right>{{item.Time}}</p> 
        </ion-item> 
      </ion-card>
    </span>
  </span>
</span>
  <div *ngIf = "checkinReports">
    <p *ngIf = "checkinReports.length == 0" class="no-data"> No Data to Show </p>
  </div>
</ion-content>
