
<ion-header>
  <ion-navbar>
    <ion-title>Leave Requests</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div *ngIf = "restCall.currentuser.UserType == 'TEAMLEADER' || restCall.currentuser.UserType == 'MANAGER'">
      <div class="filters"> 
        <ion-item class="employeeSelect" >
          <ion-select placeholder="Employee" [(ngModel)]="empcode" name="empcode" (ionChange)="SearchByEmpCode()">
            <ion-option value="All">All Employees</ion-option>
            <span *ngFor="let employee of restCall.employeeList">
              <ion-option *ngIf="employee.RequestTo == restCall.currentuser.Designation" value="{{employee.EmpCode}}">{{employee.EmpCode}}
                {{employee.EmpName}}</ion-option>
            </span>
          </ion-select>
        </ion-item>
        <div class="dateFilter" *ngIf="restCall.datesLeave">
          <span *ngIf="restCall.datesLeave.length != 0">
            <ion-item class="search_date"> 
              <ion-datetime (ionChange)="SearchByYearandMonth()" displayFormat="MMM YYYY" pickerFormat="MMM YYYY"
                [(ngModel)]="selectedDate" name="selectedDate" min="{{mindate}}" max="{{maxdate}}" placeholder="Search by month"></ion-datetime> 
            </ion-item>
            <!-- <ion-item class="search_day">
              <ion-select (ionChange)="SearchByDay()" placeholder="Day" [(ngModel)]="selDay" name="selDay" style="padding: 5px 3px;">
                <ion-option value='0' *ngIf="empcode != 'All'">All</ion-option>
                <span *ngIf="empcode == 'All'">
                  <ion-option *ngFor="let day of days" value="{{day}}">{{day}}</ion-option>
                </span>          
              </ion-select>
            </ion-item> -->
          </span>
        </div>
      </div>
      <!-- <h2 *ngIf="searchHead != 0">{{searchHead}} Leaves</h2>
      <h2 *ngIf="searchHead == 0">Top 50 Leaves</h2> -->
      
    <ion-card class="card-details" [ngClass]="{'approved': leave.L_status == 'Accepted', 'rejected': leave.L_status.substring(0,8) == 'Rejected'}" style="border-left: 4px solid red;" *ngFor = "let leave of restCall.leaves" style="position: relative;"> 
      <ion-item *ngIf = "leave.EmpCode != restCall.currentuser.EmpCode" (click)="LeaveReason(leave)">
        <h2 class="card-point">{{leave.EmpName}}</h2>
        <h2 class="card-point">{{leave.LType}} <span *ngIf="leave.LType == 'Leave'">({{leave.Days}})</span></h2>
        <span> {{leave.LFrom.substring(0, 10)}}</span>  
        <span *ngIf="leave.LType == 'Leave'"> to {{leave.Lto.substring(0, 10)}}</span>
        <span *ngIf="leave.LType == 'Half Day' || leave.LType == 'Permission'">{{leave.PTime}}</span>
      </ion-item>
      <div item-end text-right class="over-btn">  
        <button class="btns" *ngIf = "(leave.L_status == 'Pending' || (leave.L_status == 'Rejected by '+restCall.currentuser.Designation))" ion-button icon-only color="secondary" (click)="respondToLeave(leave,'Accepted by '+restCall.currentuser.Designation)"><ion-icon name="checkmark"></ion-icon></button>

        <button class="btns" ion-button icon-only color="danger" *ngIf = "(leave.L_status != 'Rejected by '+restCall.currentuser.Designation && leave.L_status != 'Rejected' && leave.L_status != 'Accepted')" (click)="respondToLeave(leave,'Rejected by '+restCall.currentuser.Designation)"><ion-icon name="close"></ion-icon></button> 
        <p> {{leave.L_status}}</p> 
      </div>
    </ion-card>
  </div> 
  <div *ngIf = "restCall.currentuser.UserType == 'ADMIN'">
    <div class="filters">
      <ion-item class="employeeSelect" *ngIf="restCall.currentuser.UserType=='ADMIN'">
        <ion-select placeholder="Employee" [(ngModel)]="empcode" name="empcode" (ionChange)="SearchByEmpCode()">
          <ion-option value="All">All Employees</ion-option>
          <ion-option *ngFor="let employee of restCall.employeeList" value="{{employee.EmpCode}}">{{employee.EmpCode}}
            {{employee.EmpName}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="dateFilter" *ngIf="restCall.datesLeave">
        <span *ngIf="restCall.datesLeave.length != 0">
        <ion-item class="search_date"> 
          <ion-datetime (ionChange)="SearchByYearandMonth()" displayFormat="MMM YYYY" pickerFormat="MMM YYYY"
            [(ngModel)]="selectedDate" name="selectedDate" min="{{mindate}}" max="{{maxdate}}" placeholder="Search by month"></ion-datetime> 
        </ion-item>
      </span>
      </div>
    </div>
    <ion-item *ngIf="restCall.currentuser.UserType=='ADMIN'" style="background-color: rgba(255, 255, 255, 0);"> 
      <ion-label>Permissions</ion-label>
      <ion-checkbox color="primary" name="showPermissions" [(ngModel)]="showPermissions" checked="false" (ionChange)="ShowPermissions()"></ion-checkbox>
    </ion-item>
      <div>
      <ion-card class="card-details" [ngClass]="{'approved': leave.L_status == 'Accepted', 'rejected': leave.L_status.substring(0,8) == 'Rejected'}" *ngFor = "let leave of filterLeaves" style="position: relative;"> 
          <ion-item (click)="LeaveReason(leave)">
            <h2 class="card-point">{{leave.EmpCode}} - {{leave.EmpName}}</h2>
            <h2 class="card-point">{{leave.LType}} <span *ngIf="leave.LType == 'Leave'">({{leave.Days}})</span></h2>
            <span *ngIf="leave.LFrom"> {{leave.LFrom.substring(0, 10)}}</span> 
            <span *ngIf="leave.LType == 'Leave'"> to {{leave.Lto.substring(0, 10)}}</span>
            <span *ngIf="leave.LType == 'Half Day' || leave.LType == 'Permission'">{{leave.PTime}}</span>
          </ion-item>
          <div item-end text-right class="over-btn"> 
            <button class="btns" *ngIf = "leave.L_status != 'Accepted'" ion-button icon-only color="secondary" (click)="respondToLeave(leave,'Accepted')"><ion-icon name="checkmark"></ion-icon></button>
            <button class="btns" ion-button color="danger" *ngIf = "leave.L_status.substring(0,8) != 'Rejected'" icon-only (click)="respondToLeave(leave,'Rejected')"><ion-icon name="close"></ion-icon></button> 
            <p *ngIf = "leave.L_status != 'Rejected' && leave.L_status != 'Accepted'"> {{leave.L_status}}</p> 
          </div>
        </ion-card>
      </div>
  </div>
</ion-content>
