<ion-header>
  <ion-navbar>
    <ion-title>Transfer Money</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item> 
      <p item-start>Cash In Hand</p> 
      <p item-end class="green" *ngFor="let cash of restCall.cashinhand" [ngClass]="{'green':cash.CASHINHAND > 0,'red':cash.CASHINHAND < 0}"><span>&#8377;</span> {{cash.CASHINHAND}}</p> 
    </ion-item>
  </ion-card> 
  <form (ngSubmit)="TransferAmount()">  
    <ion-item>
      <ion-select placeholder="Transfer To*" [(ngModel)]="RecieverEmpId" name="RecieverEmpId" required (ionChange)="LoadEmpbyStatus()"> 
        <span *ngFor="let employee of restCall.empListWithMaxTransferAmount, let i = index">
          <ion-option *ngIf="employee.EMPID != restCall.currentuser.EmpCode" value="{{employee.EMPID}}_{{employee.MaxTransferAmount}}">{{employee.EMPID}} {{employee.EmpName}}</ion-option>
        </span>
      </ion-select>
    </ion-item>
    <span *ngIf="RecieverEmpId">
      <p class="info" text-center *ngIf="RecieverEmpId.substring(0,4) != '1501' && RecieverEmpId.substring(0,4) != '1531'" (click)="ChangeLimitPopup(RecieverEmpId.substring(0,4))">
        <ion-icon name="information-circle"></ion-icon> Maximum <span>&#8377;</span> {{UpdatedLimit}} can be transferred
      </p>
    </span>
    <ion-item>
      <ion-label>Amount*</ion-label>
      <ion-input type="number" [(ngModel)]="amount" name="amount" required (ionBlur)="AmountValidation()"></ion-input>
    </ion-item>
    <p class="warning" text-center *ngIf="amountValidation"><ion-icon name="alert"></ion-icon> Amount is greater than cash in hand</p>

    <ion-item *ngIf="restCall.currentuser.UserType=='ADMIN' || restCall.currentuser.UserType=='ACCOUNTANT'"> 
      <ion-label>Salary</ion-label>
      <ion-checkbox color="primary" name="isSalary" [(ngModel)]="isSalary" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="restCall.currentuser.UserType=='ADMIN' || restCall.currentuser.UserType=='ACCOUNTANT'"> 
      <ion-label>Advance</ion-label>
      <ion-checkbox color="primary" name="isAdvance" [(ngModel)]="isAdvance" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item class="advrepayment" *ngIf="restCall.currentuser.UserType !='ADMIN' && enableRepayment && outstanding != 0 && outstanding != '' && outstanding != null && outstanding != undefined"> 
      <ion-label>Advance Repayment <span class="outstanding" *ngIf="outstanding != 0 && outstanding != '' && outstanding != null && outstanding != undefined">Bal: {{outstanding}}</span> </ion-label>
      <ion-checkbox color="primary" name="isAdvanceRepay" [(ngModel)]="isAdvanceRepay" checked="false" (ionChange)="toggleAdvRepay()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Transaction Mode *</ion-label>
      <ion-select placeholder="Select"
      [(ngModel)]="TransferType" name="TransferType" interface="popover">
        <ion-option value="By Cash"><img src="../../assets/imgs/cash.svg" alt=""> By Cash</ion-option>
        <ion-option value="PhonePay"><img src="../../assets/imgs/phonepe.png" alt=""> PhonePay</ion-option>
        <ion-option value="Paytm"><img src="../../assets/imgs/paytm.svg" alt=""> Paytm</ion-option>
        <ion-option value="Google Pay"><img src="../../assets/imgs/gpay.png" alt=""> Google Pay</ion-option>
        <ion-option value="Bank Transfer"><img src="../../assets/imgs/cash.svg" alt=""> Bank Transfer</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button type="submit" block>Send</button>
  </form>
</ion-content>
