page-transfer {
    textarea{ 
        margin-left: 0px!important;
    }
    ion-select {
        max-width: 100%!important;
        padding-left: 0!important;
    }
    .green{
        color: #11b916
    }
    .info{
        border: 1px solid rgba(104, 165, 255, 0.82);
        padding: 5px;
        border-radius: 5px;
        background: #d1ebff;
        font-size: 1.2rem;
        ion-icon{
            color: #57b5ff;
            font-size: 1.8rem!important;
            vertical-align: sub;
            padding-right: 3px;
        }
    }
    .warning{
        border: 1px solid rgba(255, 232, 104, 0.82);
        padding: 5px;
        border-radius: 5px;
        background: #fffed1;
        font-size: 1.2rem;
        ion-icon{
            color: #ffe48c;
            font-size: 1.8rem!important;
            vertical-align: sub;
            padding-right: 3px;
        }
    }
    .alert-title{
        color: rgb(240, 30, 30);
    } 
    .item.item-md .checkbox-md{
        margin-right: 15px;
    }
    .outstanding{
        display: inline-block;
        font-size: 1.4rem;
        background: #ef3535;
        color: white;
        border-radius: 4px;
        padding: 2px 3px;
        margin-left: 5px;
        margin-bottom: 5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    
}
