<ion-header>
  <ion-navbar>
    <ion-title>Vouchers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item> 
      <p item-start>Cash In Hand</p> 
      <p item-end class="green" *ngFor="let cash of restCall.cashinhand" [ngClass]="{'green':cash.CASHINHAND > 0,'red':cash.CASHINHAND < 0}"><span>&#8377;</span> {{cash.CASHINHAND}}</p> 
    </ion-item>
  </ion-card> 
  <ion-row class="home-buttons"> 
    <ion-col col-6 text-center>
      <ion-card style="border-radius: 10px;" (click)="GoToAddvoucher()">
          <p class="home-card-p"></p>
        <ion-card-content>
          <ion-card-title>
              Add Voucher
          </ion-card-title> 
        </ion-card-content>
      </ion-card> 
    </ion-col> 
    <ion-col col-6 text-center>
      <ion-card style="border-radius: 10px;" (click)="GoToTransfer()">
          <p class="home-card-p"></p>
        <ion-card-content>
          <ion-card-title>
              Transfer
          </ion-card-title> 
        </ion-card-content>
      </ion-card> 
    </ion-col> 
    <ion-col col-6 text-center>
      <ion-card style="border-radius: 10px;" (click)="GoToCredits()">
          <p class="home-card-p"></p>
        <ion-card-content> 
          <ion-card-title>
              My Transactions 
          </ion-card-title> 
        </ion-card-content>
      </ion-card> 
    </ion-col> 
    <ion-col col-6 text-center *ngIf = "restCall.currentuser.UserType == 'ADMIN' || restCall.currentuser.UserType=='ACCOUNTANT'">
      <ion-card style="border-radius: 10px;" (click)="EmpTransactions()">
          <p class="home-card-p"></p>
        <ion-card-content>
          <ion-card-title>
              All Transactions 
          </ion-card-title> 
        </ion-card-content>
      </ion-card> 
    </ion-col> 
    <ion-col col-6 text-center *ngIf = "restCall.currentuser.UserType == 'ADMIN' || restCall.currentuser.UserType=='ACCOUNTANT'">
      <ion-card style="border-radius: 10px;" (click)="AllAdvances()">
          <p class="home-card-p"></p>
        <ion-card-content>
          <ion-card-title>
            Advances
          </ion-card-title> 
        </ion-card-content>
      </ion-card> 
    </ion-col>
  </ion-row>
</ion-content>
