<ion-header>
  <ion-navbar>
    <ion-title>Apply Leave</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <form (ngSubmit)="applyLeave()"> 
    <ion-item>
      <ion-label>Type of Leave</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="leaveType" name="leaveType" (ionChange)="LoadInputs()">
        <ion-option value="Leave">Leave</ion-option>
        <ion-option value="Half Day">Half Day Leave</ion-option>
        <ion-option value="Permission">Permission</ion-option>
      </ion-select>
    </ion-item>
    <ion-item> 
      <ion-label>From Date</ion-label>
      <ion-datetime (ionChange)="calTotalDays()" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" [(ngModel)]="startingDate" name="startingDate"></ion-datetime>
    </ion-item>
    <span *ngIf = "!permission && !halfday">
      <ion-item>
        <ion-label>To Date</ion-label>
        <ion-datetime (ionChange)="calTotalDays()" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" [(ngModel)]="endingDate" name="endingDate" [min]="startingDate"></ion-datetime>
      </ion-item>
    </span>
    <span *ngIf = "permission">
      <ion-item>
        <ion-label>From Time</ion-label>
        <ion-datetime (ionChange)="calTotalhrs()" displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="permissionStartTime" name="permissionStartTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>To Time</ion-label>
        <ion-datetime (ionChange)="calTotalhrs()" displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="permissionEndTime" name="permissionEndTime" [min]="permissionStartTime"></ion-datetime>
      </ion-item>
    </span>
    <ion-list radio-group [(ngModel)]="session" name="session" *ngIf = "halfday">
      <ion-item>
        <ion-label>AN</ion-label>
        <ion-radio value="AN"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>FN</ion-label>
        <ion-radio value="FN"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item *ngIf = "this.days">
      <ion-label>Total Days</ion-label>
      <ion-input type="text" [(ngModel)]="totalDays" name="totalDays" disabled></ion-input>
    </ion-item>
    <ion-item *ngIf = "this.totalhrs">
      <ion-label>Total Minutes</ion-label>
      <ion-input type="text" [(ngModel)]="hrs" name="hrs" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Reason for Leave" [(ngModel)]="leaveReason" name="leaveReason"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Submit</button>
  </form>
  <br>
<span class="prevLeaves">
  <div class="filters">
    <ion-item class="employeeSelect" *ngIf="restCall.currentuser.UserType=='ADMIN'">
      <ion-select placeholder="Employee" [(ngModel)]="empcode" name="empcode" (ionChange)="SearchByCode()">
        <ion-option value="All">All Employees</ion-option>
        <ion-option *ngFor="let employee of restCall.employeeList" value="{{employee.EmpCode}}">{{employee.EmpCode}}
          {{employee.EmpName}}</ion-option>
      </ion-select> 
    </ion-item>
    <div class="dateFilter" *ngIf="restCall.datesLeave">
      <span *ngIf="restCall.datesLeave.length != 0">
      <ion-item class="search_date"> 
        <ion-datetime (ionChange)="SearchByYearandMonth()" displayFormat="MMM YYYY" pickerFormat="MMM YYYY"
          [(ngModel)]="selectedDate" name="selectedDate" min="{{mindate}}" max="{{maxdate}}" placeholder="Search by month"></ion-datetime> 
      </ion-item>
      
    </span>
    </div>
  </div>
  <ion-card class="card-details" [ngClass]="{'approved': item.L_status == 'Accepted', 'rejected': item.L_status.substring(0,8) == 'Rejected'}" *ngFor = "let item of restCall.leaves">
    <ion-item>
      <h2 class="card-point">{{item.LType}}</h2>
      <p *ngIf = "item.LFrom">{{item.LFrom.substring(0, 10)}}</p> 
      <div item-end text-right>  
        <h2 class="itemcategory" *ngIf="item.L_status.substring(0,8) == 'Rejected'" (click)="respondToLeave(item,'Reapplied')">{{item.L_status}}</h2> 
        <h2 class="itemcategory" *ngIf="item.L_status.substring(0,8) == 'Accepted' || item.L_status == 'Pending'">{{item.L_status}}</h2> 
        <h2 class="itemcategory" *ngIf="item.L_status == 'Reapplied'">Pending</h2> 
        <p *ngIf="item.LType == 'Casual Leave' || item.LType == 'Sick Leave'"> {{item.Lto.substring(0, 10)}}</p>
        <p *ngIf="item.LType == 'Half Day' || item.LType == 'Permission'">{{item.PTime}}</p>
      </div>
    </ion-item> 
  </ion-card>
</span>
</ion-content>
