page-addvoucher {
    .vmount{
        margin: 0;
        position: absolute;
        z-index: 11;
        background: #f29860;
        display: inline-block;
        font-size: 1.8rem;
        border-radius: 5px;
        padding: 3px 10px;
        transform: translateX(-50%);
        color: #000;
        box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0.59);
    }
    .topbtn{
        top: 10px;
    }
    .bottombtn{
        bottom:25px;
    }
    .vmount.verify{
        background: #259b1b;
        color: white;
    }
    .multiSlide{
        ion-slide{
            transform: translateX(50%)!important;
        }
    }
    .btns{
        font-size: 1.2rem;
        padding: 0;
        border-radius: 18px;
        height: 3.3rem;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
        position: absolute;
        right: 15px;
        bottom: 15px;
        z-index: 11;
    } 
    .flex-container{
        display: flex;
    }
    .flexwrap{
        display: flex;
        padding-left: 16px;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
    }
    .VHeading{
        font-size: 1.6rem;
    }
    textarea{
        margin-left: -2px!important;
    }
    .green{
        color: #11b916
    }
    ion-select{
        width: 100%;
        max-width: 100%;
    }
    .dateFilter{
        border-radius: 10px;
        box-shadow: 0 0 4px rgba(33, 150, 243, 0.5);
        ion-item{
            border-radius: 10px;
        }
        .Search_Month.item-md.item-block .item-inner{
            border-bottom: none; 
        }
        
    }
    .ripple-parent {
        position: relative;
        overflow: hidden;
    }

      ion-card.open{
        border-radius: 5px;
        border: 1px solid rgb(255, 143, 108);
        box-shadow: 0 -2px 7px 0px rgb(255, 143, 108)!important;
        transition: all 0.2s ease-in; 
    }
    .vcardholder{
        position: relative;
    }
    .tcard{
        position: relative;
        margin-bottom: 5px;  
        margin-top: 0;  
        ion-item{
            background: rgba(18, 18, 18, 0);  
            padding-left: 0; 
        }    
    }
    .tcard .moredetails{
        max-height: 0;
        transition: all 0.2s ease-in; 
    }
    .tcard.open .moredetails{
        max-height: 1000px;
    }

    
    .verifybtn{
        display: flex;
        align-items: center;
    }
    .updateamount{
        text-align: center;
        input{
            border: 1px solid blue;
            padding: 5px;
            border-radius: 4px;
        }
    }
    .uvvou{
        margin-left: 12px;
        background: #f53d3d;
        display: inline-block;
        color: white;
        padding: 5px 12px;
        border-radius: 4px;
        margin-top: 15px!important;
        margin-bottom: 0px;
    }
    .vvou{
        margin-left: 12px;
        background: #26942a;
        display: inline-block;
        color: white;
        padding: 5px 12px;
        border-radius: 4px;
    }
    .selectedfile{
        margin-left: 16px;
        background: #bcffbf;
        padding: 8px;
        border-radius: 5px;
    }

    .verified{
        .item-md{
            min-height: auto;
        }
    }
    .zero{
        ion-card{
            background: rgba(250, 0, 0, 0.2)!important;
        }
    }
    .updated{
        ion-card{
            background: rgba(255, 238, 0, 0.3);
        }
    }
    .verify{
        ion-card{
            background: rgba(0, 255, 10, 0.21);
        }
    }
    .vdate{
        font-size: 1.5rem;
        background: rgba(96, 167, 221, 0.35);
        color: #111111;
        display: block;
        padding: 3px 12px;
        border-radius: 3px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        margin-left: 10px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .service_type{
        position: absolute;
        top: -2px;
        left: 0;
        transform: rotate(180deg);
        height: 100%;
        background: #29592b;
        background: #3a6484;
        z-index: 2;
        color: white;
        padding: 5px;
        text-align: center;
        font-size: 1.2rem!important;
        writing-mode: vertical-rl;
         box-shadow: 4px 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .card-ios{
        .service_type{
            left: -10px;
        }
    }

    .vcardcontent{
        position: relative;
        padding-left: 26px;
        h2 {
            margin: 2px 0;
            font-size: 1.4rem;
        }
    }
    .img-holder{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .bimg{
        max-width: 49%;
        display: inline;
    }
    .overlay{
        display: none;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 10;
        ion-slides{
            background: black;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 10;
            .swiper-wrapper{
                justify-content: center;
            }
        }
    }
    .overlay.open{
        display:block;
    }
}

