<ion-header>
  <ion-navbar>
    <ion-title>Add Voucher</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div class="overlay" text-center>
    <button class="btns viewclose" ion-button color="danger" icon-only (click)="close()"><ion-icon name="close"></ion-icon></button> 
    <p text-center class="vmount"><span>&#8377;</span>{{vamount}}</p>
    <ion-slides [zoom]='true' [slidesPerView]="1" [initialSlide]="1" [ngClass]="{'multiSlide':billImg}">
      <ion-slide>
        <div class="swiper-zoom-container">
          <img *ngIf="voucherImg" src="http://app.dbasesolutions.in/Image/{{voucherImg}}" alt="" imageViewer>
        </div>
      </ion-slide>
      <ion-slide *ngIf="billImg">
        <div class="swiper-zoom-container">
          <img *ngIf="billImg" src="http://app.dbasesolutions.in/Image/{{billImg}}" alt="" imageViewer>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
<div padding>
  <ion-card>
    <ion-item> 
      <p item-start>Cash In Hand</p> 
      <p item-end class="green" *ngFor="let cash of restCall.cashinhand" [ngClass]="{'green':cash.CASHINHAND > 0,'red':cash.CASHINHAND < 0}"><span>&#8377;</span>{{cash.CASHINHAND}}</p> 
    </ion-item>
  </ion-card> 
  <form> 
    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-input type="number" [(ngModel)]="amount" name="amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Reason for Voucher" [(ngModel)]="voucherReason" name="voucherReason"></ion-textarea>
    </ion-item>
    <!-- Voucher -->
    <div class="flex-container">
      <div class="flexwrap">
        <p class="VHeading" text-center>Voucher:</p>
        <div class="childbtnflex">
          <input type="file" (change)="onFileSelected($event)" id="fileInput" style="display: none;">
          <label for="fileInput" ion-button icon-only outline>
            <ion-icon name="image"></ion-icon>
          </label> 
          <button ion-button icon-only (click)="UploadCameraVoucher()" outline><ion-icon name="camera"></ion-icon></button>
        </div>
      </div>
      <!-- Bill -->
      <div class="flexwrap">
        <p class="VHeading">Bill:</p>
        <div class="childbtnflex">
          <input type="file" (change)="onBillSelected($event)" id="billInput" style="display: none;">
          <label for="billInput" ion-button icon-only outline>
            <ion-icon name="image"></ion-icon>
          </label> 
          <button ion-button icon-only (click)="BillbyCamera()" outline><ion-icon name="camera"></ion-icon></button>
        </div>
      </div>
      
      <!-- Bill End -->
    </div>
    <div>
      <img *ngIf="uploadVoucher" [src]="uploadVoucher" style="padding-top:15px"/>
      <p class="selectedfile" *ngIf="selectedfile">Voucher File: {{selectedfile.name}}</p>
    </div>
    <div>
      <img *ngIf="uploadBill" [src]="uploadBill" style="padding-top:15px"/>
      <p class="selectedfile" *ngIf="selectedBill">Bill File: {{selectedBill.name}}</p>
    </div>
    <!-- Submit -->
    <button ion-button block (click)="UploadVoucher()">Submit</button>
  </form>
  <div *ngIf="restCall.currentuser.UserType=='ACCOUNTANT' || restCall.currentuser.UserType=='ADMIN'">
    <div class="filters" style="padding-top:15px;">
      <div class="dateFilter" *ngIf="restCall.AllTransactionDates">
          <ion-item class="search_date"> 
            <ion-select (ionChange)="SearchByYear()" class="" placeholder="Search by Year" [(ngModel)]="selectedYear" name="selectedYear" style="padding: 5px 3px;">
              <ion-option value="All">All</ion-option>
              <ion-option *ngFor="let year of restCall.FYears " value="{{year.FINANCIALYEAR}}">{{year.FINANCIALYEAR}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="Search_Month"> 
            <ion-select (ionChange)="SearchByMonth()" class="" placeholder="Search by Month" [(ngModel)]="selectedMonth" name="selectedMonth" style="padding: 5px 3px;">
              <ion-option *ngFor="let month of selMonths" value="{{month}}">{{month}}</ion-option>
            </ion-select>
          </ion-item>
      </div>
    </div>
    <span *ngIf = "restCall.allVoucherTransactions">
      <div *ngFor = "let item of restCall.allVoucherTransactions; let i = index">
        <span *ngIf="item.length != 0">
          <div *ngFor = "let vou of item; let x = index">
            <p *ngIf="x == 0 && item.length != 0" class="vdate">{{item[item.length-1].Date.substring(0, 10)}}</p>
            <span [ngClass]="{'verify':vou.IsVerified=='Y' && vou.Amount !=0, 'zero':vou.Amount == 0, 'updated':vou.IsVerified =='U'}">
              <ion-card class="card-details tcard verified" [ngClass]="i+''+x">
                <ion-card-content class="vcardcontent" (click)="VerifiedVoucherDetails(vou,i+''+x)">
                  <ion-item >
                    <div item-start style="margin: 0;">  
                      <p class="debit" style="padding-left:5px;">{{vou.EmpName}}</p> 
                    </div>
                    <div item-end style="margin: 0;">  
                      <p *ngIf = "vou.Amount" class="debit"><span>&#8377;</span>{{vou.Amount}}</p>
                      <p *ngIf = "vou.Amount == 0" class="debit"><span>&#8377;</span>{{vou.OriginalAmount}}</p>
                    </div>
                    </ion-item>
                  <h2 class="service_type">{{vou.EmpId}}</h2>
                  <h2 style="padding-left:5px;">Description: {{vou.VDescription}}</h2> 
                </ion-card-content>
                <div class="moredetails">
                  <div class="img-holder">
                    <img class="vimg bimg" *ngIf="vou.fname && vou.fname != ''" src="http://app.dbasesolutions.in/Image/Vouchers/{{vou.fname}}" alt="" (click)="OpenImg(vou.fname,vou.fpath,vou.Amount)">

                    <img class="bimg" *ngIf="vou.fpath && vou.fpath != ''" src="http://app.dbasesolutions.in/Image/Bills/{{vou.fpath}}" alt="" (click)="OpenImg(vou.fname,vou.fpath,vou.Amount)">
                  </div>
                  <div class="verifybtn"> 
                    <ion-input type="number" [(ngModel)]="this.updateamount" name="this.updateamount" class="updateamount"></ion-input>
                    <button ion-button color="primary" clear (click)="VerifyVoucher(vou)">
                      <span *ngIf="vou.IsVerified=='N'">Verify</span> 
                      <span *ngIf="vou.IsVerified=='Y' || vou.IsVerified=='U'">Update</span> 
                    </button>
                  </div>
                </div>
              </ion-card>
            </span> 
          </div>
        </span>
    </div>
    </span>
  </div> 
</div>
</ion-content>
